<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>

<body>
    <h2>lista de proyectos</h2>
    <table>
        <tr>
            <th>codigo</th>
            <th>descripcion</th>
        </tr>
        <tr th:each="proyecto : ${proyectos}">
            <td><span th:text="${proyecto.codigo}"></span></td>
            <td><span th:text="${proyecto.descripcion}"></span></td>
        </tr>
    </table>
</body>

</html>